body {
    font-family: 'Arial', sans-serif;
    background-color: #4CAF50; /* Kahoot green */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    margin: 0;
    padding: 20px;
}

h1, h3 {
    text-align: center;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    font-family: arial;
}

button {
    background-color: #ff4081; /* Kahoot pink */
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    display: block;
}

button:hover {
    background-color: #d81b60; /* Darker Kahoot pink on hover */
}
